/* Begin Typography & Colors */
body {
font-family: Verdana, Arial, Sans-Serif;
background: url(img/bg.jpg) repeat-y;
color: #333333;
margin: 0px;
padding: 0px;
background-size: 100%;
}

.act1 {
	color: #3366cc;
}


.leftbg {
	background-image: url(img/leftbg.jpg);
	background-repeat:repeat-y;
	background-position:left;
}

.rightbg {
	background-image:url(img/rightbg.jpg);
	background-repeat:repeat-y;
}

.table_text {
	font-family: Arial;
	font-size: 12px;
	color: white;
	padding: 0px;
	font-weight:normal;
	padding:0 4px;
}
.table_text_2{
	font-family: Arial;
	font-size: 11px;
	color: black;
	padding: 0px;
	font-weight:normal;
	padding:0 4px;
}

.index_flash_text {font:Arial, Helvetica, sans-serif;font-size:11px;color:#FFFFFF;}
.index_flash_text a:link{font:Arial, Helvetica, sans-serif;font-size:11px;color:#FFFFFF;text-decoration:underline;}
.index_flash_text a:active{font:Arial, Helvetica, sans-serif;font-size:11px;color:#FFFFFF;text-decoration:underline;}
.index_flash_text a:visited{font:Arial, Helvetica, sans-serif;font-size:11px;color:#FFFFFF;text-decoration:underline;}
.index_flash_text a:hover{font:Arial, Helvetica, sans-serif;font-size:11px;color: #CCCCCC;text-decoration:underline;}

.bottom_text {font-family:Arial, Helvetica, sans-serif;font-size:10px;color:#000000;}
.bottom_text a:link{font-family:Arial, Helvetica, sans-serif;font-size:10px;color:#000000;text-decoration:underline;}
.bottom_text a:active{font-family:Arial, Helvetica, sans-serif;font-size:10px;color:#000000;text-decoration:underline;}
.bottom_text a:visited{font-family:Arial, Helvetica, sans-serif;font-size:10px;color:#000000;text-decoration:underline;}
.bottom_text a:hover{font-family:Arial, Helvetica, sans-serif;font-size:10px;color: #666666;text-decoration:underline;}

.left_menu_rbg {
	background-image:url(img/left_menu_rbg.jpg);
	background-repeat:repeat-y;
}

.left_menu_bbg {
	background-image:url(img/left_menu_bbg.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
}

.left_menu_bg {
	background-image:url(img/left_menu_bg.jpg);
	background-repeat:repeat-y;
}


.bmenu {font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#3366cc;}
.bmenu a:link,.bmenu a:active,.bmenu a:visited{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#3366cc;text-decoration:underline;margin:0 25 0 0px;}
.bmenu a:hover{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#6699ff;text-decoration:underline;}

.bmenun {font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#3366cc; font-weight: bold; }
.bmenun a:link,.bmenun a:active,.bmenun a:visited{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#3366cc;text-decoration:underline;margin:0 25 0 0px;}
.bmenun a:hover{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#6699ff;text-decoration:underline;}

.left_text_contacts {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:black;
	padding-top:10px;
}

.top_bg {
	background-image:url(img/top_bg.jpg);
	background-repeat:repeat-x;
}



.text {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	line-height:18px;
	text-align: justify;
}
.text a:link{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#3366cc;line-height:18px;text-decoration:underline;}
.text a:active{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#3366cc;line-height:18px;text-decoration:underline;}
.text a:visited{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#3366cc;line-height:18px;text-decoration:underline;}
.text a:hover{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#6699ff;line-height:18px;text-decoration:underline;}



.toptext_span {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#ffffff;
}

.toptext {
	border-right: 1px solid rgba(102, 204, 255,0.4);
	background-image:url(img/top_icon.jpg);
	background-position: left;
	background-repeat:no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#ffffff;
	padding: 10px 1px;
}
.toptext:hover {
	background: rgba(102, 204, 255,0.4);
}
.toptext a:link,.toptext a:active,.toptext a:visited{font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:normal;color:#ffffff;padding: 7px;text-decoration:underline;}
.toptext a:hover{font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:normal;color:#fff;padding: 7px;text-decoration:none;}

.toptext:last-child{
	border:none;
}

.top_bg {
	background-image:url(img/top_bg.jpg);
	background-repeat:repeat-x;
}

.top_header {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:25px;
	color:white;
	text-align:right;
	padding-right:25px;
}

.top_blog_link {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;color:#8e8c8b;text-align:right;padding-right:25px;}
.bottom_bg {
	background-image:url(img/bottom_bg.jpg);
	background-repeat:repeat-x;
}


.alignright {font-family: Tahoma;font-size: 11px;float: right;color:#3366cc;}
.alignright a:link{font-family: Tahoma;font-size: 11px;float: right;color:#3366cc;}
.alignright a:active{font-family: Tahoma;font-size: 11px;float: right;color:#3366cc;}
.alignright a:visited{font-family: Tahoma;font-size: 11px;float: right;color:#3366cc;}
.alignright a:hover{font-family: Tahoma;font-size: 11px;float: right;color:#7e7e7e;}


.alignleft {font-family: Tahoma;font-size: 11px;float: left;color:#3366cc;}
.alignleft a:link{font-family: Tahoma;font-size: 11px;float: left;color:#3366cc;}
.alignleft a:active{font-family: Tahoma;font-size: 11px;float: left;color:#3366cc;}
.alignleft a:visited{font-family: Tahoma;font-size: 11px;float: left;color:#3366cc;}
.alignleft a:hover{font-family: Tahoma;font-size: 11px;float: left;color:#7e7e7e;}

h1 {
	font-family: Arial;
	font-size: 18px;
	color: #3366cc;
	padding: 0px;
	font-weight:normal;
	text-transform: uppercase;	
}

h2 {
	font-family: Tahoma;
	font-size: 16px;
	color: #3366cc;
	padding-left: 6px;
	font-weight:normal;
	padding-bottom: 0px;
}
h3 {
	font-family: Tahoma;
	font-size: 14px;
	color: #3366cc;
	padding-left: 6px;
	font-weight:normal;
	padding-bottom: 0px;
}



.blockh1 {
	font-family: Arial;
	font-size: 18px;
	color: #3366cc;
	padding: 0px;
	text-transform: uppercase;	
}

.blockh2 {
	font-family: Tahoma;
	font-size: 16px;
	color: #3366cc;
	padding-left: 6px;
	padding-bottom: 0px;
}

.blockh3 {
	font-family: Tahoma;
	font-size: 14px;
	color: #3366cc;
	padding-left: 6px;
	padding-bottom: 0px;
}

.postcomment {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#3366cc;font-weight:normal;}
.postcomment a:link{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#3366cc;font-weight:normal;text-decoration:underline;}
.postcomment a:active{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#3366cc;font-weight:normal;text-decoration:underline;}
.postcomment a:visited{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#3366cc;font-weight:normal;text-decoration:underline;}
.postcomment a:hover{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#6699ff;font-weight:normal;text-decoration:underline;}


/*Navigation CSS start*/
td.nav {font-family:Arial, Helvetica, sans-serif;font-size: 9px;padding: 0px;color:#333333;}
td.nav a:link,td.nav a:active,td.nav a:visited{font-family:Arial, Helvetica, sans-serif;font-size: 9px;color:#333333;text-decoration:underline;}
td.nav a:hover{font-family:Arial, Helvetica, sans-serif;font-size: 9px;color: #666666;text-decoration:underline;}
/*Navigation CSS end*/



.tt_news-news-date-left {font-family: Tahoma;font-size: 10px;padding: 2px;color: #999999;}
.tt_news-news-date-left a:link{font-family: Tahoma;font-size: 10px;padding: 2px;color: #999999;text-decoration:underline;}
.tt_news-news-date-left a:active{font-family: Tahoma;font-size: 10px;padding: 2px;color: #999999;text-decoration:underline;}
.tt_news-news-date-left a:visited{font-family: Tahoma;font-size: 10px;padding: 2px;color: #999999;text-decoration:underline;}
.tt_news-news-date-left a:hover{font-family: Tahoma;font-size: 10px;padding: 2px;color: #E2E2E2;text-decoration:underline;}

td span.tt_news-news-content p.bodytext{
	font-family: Tahoma;
	font-size: 12px;
	padding-top: 0px; 
	padding-bottom: 0px; 
	padding-left: 5px; 
	text-align:justify;
}

.tt_news-news-content {
	font-family: Tahoma;
	font-size: 11px;
	padding-top: 3px; 
	padding-left: 0px; 
	text-align:justify;
}

.smallcontent {
	font-family: Tahoma;
	font-size: 11px;
	padding: 0px; 
}

.tx-guestbook-list-table {border:0px;}
.tx-guestbook-list-header {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: white;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;	
}

.tx-guestbook-list-header-news {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: black;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;	
}

.tx-guestbook-list-small {
	font-family: Tahoma;
	font-size: 11px;
	color: WHITE;
}

.tx-guestbook-list-rowleft {
	padding-top: 10px;
	padding-left: 10px; 
	padding-right: 20px;
	padding-bottom: 10px; 
	background-color: #EEEEEE;
}

.tx-guestbook-list-row {
	font-family: Tahoma;
	font-size: 11px;
	padding-top: 10px;
	padding-left: 10px; 
	padding-right: 20px;
	padding-bottom: 10px; 
	background-color: #F8F8F8; 
}

.tx-guestbook-list-row-news {
	font-family: Tahoma;
	font-size: 11px;
	padding-top: 10px;
	padding-left: 10px; 
	padding-right: 20px;
	padding-bottom: 10px; 
}

.tx-guestbook-list-entrycomment {
	font-family: Tahoma;
	font-size: 11px;
	font-style: normal;
	color: #E46600;
}

.tx-guestbook-form-inputfield-med { 
	border-style: solid; 
	border-width: 1px; 
	border-color:#55575E; 	
	font-size:12px; 
	color:black; 
	width:150px; 
	padding:2px;
}

.tx-guestbook-form-inputfield-big { 
	border-style: solid; 
	border-width: 1px; 
	border-color:#55575E; 	
	font-size:12px; 
	color:black; 
	width:150px; 
	padding:2px;
}

.tx-guestbook-form-textarea { 
	font-family: Tahoma; 
	border-style: solid; 
	border-width: 1px; 	
	border-color:#55575E; 
	font-size:12px; 
	color:black; 	
	width:300px; 
	padding:5px;
}

.tx-guestbook-form-submit {
	border: 1px solid #e3e3e3; background-color: #55575E; 
	height: 21px; width: 90px;  
	font-family: Tahoma, Arial; font-size: 11px; 
	font-weight: normal; 
	color: white;
}

.tx-guestbook-fortext {
	font-family: Tahoma;
	font-size: 13px;
	padding-top: 3px; 
	padding-left: 3px; 
	padding-bottom: 3px; 
}

/*SHOP CSS start*/
.shop_title_header {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#333333;
	padding: 0px;
	font-weight:bold;
	border:1px;
}
.shop_title_header a:link{font-family:Arial, Helvetica, sans-serif;font-size: 12px;color:#333333;padding: 0px;font-weight:bold;}
.shop_title_header a:active{font-family:Arial, Helvetica, sans-serif;font-size: 12px;color:#333333;font-weight:bold;}
.shop_title_header a:visited{font-family:Arial, Helvetica, sans-serif;font-size: 12px;color:#333333;font-weight:bold;}
.shop_title_header a:hover{font-family:Arial, Helvetica, sans-serif;font-size: 12px;color: #666666;	font-weight:bold;}

.shop_text {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#333333;
	padding: 0px;
	font-weight:normal;
}
.shop_text a:link{font-family:Arial, Helvetica, sans-serif;font-size: 12px;color:#333333;padding: 0px;font-weight:normal;}
.shop_text a:active{font-family:Arial, Helvetica, sans-serif;font-size: 12px;color:#333333;font-weight:normal;}
.shop_text a:visited{font-family:Arial, Helvetica, sans-serif;font-size: 12px;color:#333333;font-weight:normal;}
.shop_text a:hover{font-family:Arial, Helvetica, sans-serif;font-size: 12px;color: #666666;	font-weight:normal;}

.shop_text_small {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#333333;
	padding: 0px;
	font-weight:normal;
}
.shop_text_small a:link{font-family:Arial, Helvetica, sans-serif;font-size: 10px;color:#333333;padding: 0px;font-weight:normal;}
.shop_text_small a:active{font-family:Arial, Helvetica, sans-serif;font-size: 10px;color:#333333;font-weight:normal;}
.shop_text_small a:visited{font-family:Arial, Helvetica, sans-serif;font-size: 10px;color:#333333;font-weight:normal;}
.shop_text_small a:hover{font-family:Arial, Helvetica, sans-serif;font-size: 10px;color: #666666;	font-weight:normal;}

.shop_text_prev-next {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#FFFFFF;
	padding: 0px;
	font-weight:bold;
	background-color:#333333;
	text-transform:uppercase;
}
.shop_text_small a:link{font-family:Arial, Helvetica, sans-serif;font-size: 10px;color:#333333;padding: 0px;font-weight:normal;}
.shop_text_small a:active{font-family:Arial, Helvetica, sans-serif;font-size: 10px;color:#333333;font-weight:normal;}
.shop_text_small a:visited{font-family:Arial, Helvetica, sans-serif;font-size: 10px;color:#333333;font-weight:normal;}
.shop_text_small a:hover{font-family:Arial, Helvetica, sans-serif;font-size: 10px;color: #666666;	font-weight:normal;}

.ttx_header {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#FFFFFF;
}

.ttx_text {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	color:#000000;
}

/*SHOP CSS end*/

/*Guestbook CSS start*/
.tx-guestbook-list-table {border:0px;}
.tx-guestbook-list-header {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #3366cc;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;	
}
.tx-guestbook-list-header-news {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: black;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;	
}
.tx-guestbook-list-small {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: WHITE;
}
.tx-guestbook-list-rowleft {
	padding-top: 10px;
	padding-left: 10px; 
	padding-right: 20px;
	padding-bottom: 10px; 
	background-color: #EEEEEE;
}
.tx-guestbook-list-row {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top: 10px;
	padding-left: 10px; 
	padding-right: 20px;
	padding-bottom: 10px; 
}
.tx-guestbook-list-row-news {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top: 10px;
	padding-left: 10px; 
	padding-right: 20px;
	padding-bottom: 10px; 
}
.tx-guestbook-list-entrycomment {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
}
.tx-guestbook-form-inputfield-med { 
	border-style: solid; 
	border-width: 1px; 
	border-color:#333333; 	
	font-size:12px; 
	color:black; 
	width:150px; 
	padding:2px;
}
.tx-guestbook-form-inputfield-big { 
	border-style: solid; 
	border-width: 1px; 
	border-color:#333333; 	
	font-size:12px; 
	color:black; 
	width:150px; 
	padding:2px;
}
.tx-guestbook-form-textarea { 
	font-family:Arial, Helvetica, sans-serif;
	border-style: solid; 
	border-width: 1px; 	
	border-color:#333333; 
	font-size:12px; 
	color:black; 	
	width:300px; 
	padding:5px;
}
.tx-guestbook-form-submit {
	border: 1px solid #333333; background-color: #3366cc; 
	height: 21px; width: 90px;  
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight: normal; 
	color: white;
}
.tx-guestbook-fortext {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-top: 3px; 
	padding-left: 3px; 
	padding-bottom: 3px; 
}
.guest_date {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}
.tx-srfreecap-pi2-cant-read {
	color:#333333;
	font-family:Arial;
	font-size:12px;
}
.tx-srfreecap-pi2-image {
	margin:0px;
	padding:0px;
	border:#333333 1px solid;
}
/*Guestbook CSS end*/

/*ADV start*/
.bottom_menu_adv {
font-family: Tahoma; color: #CACACA; font-size: 10px; text-decoration:underline;
}
.bottom_menu_adv a:link{font-family: Tahoma; color: #CACACA; font-size: 10px; text-decoration:underline;}
.bottom_menu_adv a:active{font-family: Tahoma; color: #CACACA; font-size: 10px; text-decoration:underline;}
.bottom_menu_adv a:visited{font-family: Tahoma; color: #CACACA; font-size: 10px; text-decoration:underline;}
.bottom_menu_adv a:hover{font-family: Tahoma; color: #666666; font-size: 10px; text-decoration: underline;}
/*ADV end*/



.csc-textpic-imagewrap {
	margin:0px;
}

.csc-textpic-caption {
	font-size: 10px;
	text-align:center;
}

.newul li a:link
{
font-size: 14px;
font-weight:bold;
}

.bolp td{text-align:center; padding:10px;}
.bolp tr{ padding:10px;}
.bolp img {width:150px;}

.fopl {margin:0;}
a.ah2 { font-size: 22px !important; color: rgb(0, 0, 0) !important; font-weight: bold; }                 

.address {
  color:#fff;
  font-size: 16px;
}

.address a {
  font-size: 15px !important;
}

.top_bg table {
  height:64px;
}

.buyItm {
background: #af0606;
color: #fff;
font-size:13px;
font-weight:bold;
padding: 5px 0;
margin-top: 3px;
cursor: pointer;
}

.make-order {
float:right;
background: #af0606;
color: #fff;
font-weight:bold;
font-size:13px;
padding: 5px 15px;
margin-top: 3px;
cursor: pointer;
text-align:center;
width:100px;
}

.fancybox-inner {
  height:420px !important;
}

.address a, .address a:visited {
  color:#fff !important;
}

.csc-header > div {
  font-weight: bold;
  margin-bottom: 10px;
}

/*ИЗМЕНЕНИЯ 18 МАРТА 2015 66545*/
.catalog-row {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom:30px;
}
.catalog-row .left {
  width: 300px;
  overflow: hidden;
  position: relative;
  float: left;
}
.catalog-row .left a {
  line-height:1.5em;
  font-size: 22px !important;
  color: #000 !important;
  font-weight: bold;
}
.catalog-row .left img {
  width: 300px;
  max-height: 210px;
}
.catalog-row .left p {
  padding: 0;
  margin: 0;
  text-align: left;
}
.catalog-row .left p span {
  font-weight: bold;
}
.catalog-row .right {
  width: 300px;
  float: right;
}
.catalog-row .right p {
  text-align: left;
}
.catalog-row .right p i {
  font-weight: bold;
}

.catalog-row span{
  font-weight: bold;
}

.row-items {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.row-items p {
  padding: 0;
  margin: 0;
  font-size: 13px;
  text-align: left;
  -webkit-margin: 0px !important;
}
.row-items .item {
  width: 315px;
  height: 130px;
  float: left;
  overflow: hidden;
  padding-bottom: 10px;
  position: relative;
}
.row-items .item i {
  font-style: normal;
  font-weight: bold;
}
.row-items .item .item-img {
  float: left;
  width: 80px;
}
.row-items .item .item-img img {
  width: 80px;
  max-height: 110px;
}
.row-items .item .item-description {
  width: 229px;
  float: right;
}
.row-items .item .item-link {
  width: 100%;
  float: left;
}

a.button{text-decoration:none; text-align:center; 
 padding:11px 17px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:14px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#0060f0; 
 background-image: -moz-linear-gradient(top, #0060f0 0%, #3aa4c7 100%); 
 background-image: -webkit-linear-gradient(top, #0060f0 0%, #3aa4c7 100%); 
 background-image: -o-linear-gradient(top, #0060f0 0%, #3aa4c7 100%); 
 background-image: -ms-linear-gradient(top, #0060f0 0% ,#3aa4c7 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3aa4c7', endColorstr='#3aa4c7',GradientType=0 ); 
 background-image: linear-gradient(top, #0060f0 0% ,#3aa4c7 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
    }
a.button:hover{
 padding:11px 17px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:14px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#0051ff; 
 background-image: -moz-linear-gradient(top, #0051ff 0%, #03b5f0 100%); 
 background-image: -webkit-linear-gradient(top, #0051ff 0%, #03b5f0 100%); 
 background-image: -o-linear-gradient(top, #0051ff 0%, #03b5f0 100%); 
 background-image: -ms-linear-gradient(top, #0051ff 0% ,#03b5f0 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03b5f0', endColorstr='#03b5f0',GradientType=0 ); 
 background-image: linear-gradient(top, #0051ff 0% ,#03b5f0 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
   }
a.button:active{
 padding:11px 17px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:6px;
 -moz-border-radius:6px; 
 border-radius: 6px; 
 font:14px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#0051ff; 
 background-image: -moz-linear-gradient(top, #0051ff 0%, #08a4ff 100%); 
 background-image: -webkit-linear-gradient(top, #0051ff 0%, #08a4ff 100%); 
 background-image: -o-linear-gradient(top, #0051ff 0%, #08a4ff 100%); 
 background-image: -ms-linear-gradient(top, #0051ff 0% ,#08a4ff 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08a4ff', endColorstr='#08a4ff',GradientType=0 ); 
 background-image: linear-gradient(top, #0051ff 0% ,#08a4ff 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
   }

#line-for-button{
  width: 93%;
  height: 50px;
  text-align: right;
} 
/*№ИЗМЕНЕНИЯ 18 МАРТА 2015 66545*/
.forimg div{
display:inline-block;vertical-align:top;text-ALIGN:center;margin-right:30px;
}
.text .forimg div a{
color:#000;text-decoration:none;font-weight:600;
}
.text .forimg div:nth-child(1) img{
width:100px;
}
.text .forimg div:nth-child(2) img{
width:116px;
}
.text .forimg div:nth-child(3) img{
width:60px;
}
.text .forimg div:nth-child(4) a:last-child{
display:block;text-align:left;line-height:15px;
}
.text .forimg div a:first-child{
display:block;height:50px;
}
.text .blockh1 a{
    font-family: Arial;
    font-size: 18px;
    color: #3366cc;
    padding: 0px;
    text-transform: uppercase;text-decoration:none;
}
div.tal{
	margin: 0px auto;
    padding: 10px;
    text-align: center;
    width: 625px;
}

#bcontacts {display:none;}
#c6 {font-size:12px;}
#foot-addr {
	font-size: 12px;
}

.mvs-top {
    padding: 10px;
    background-color: #205DB6;
    color: #fff;
    border-radius: 5px;
}

.mvs-bottom {
    padding: 10px;
    background-color: #4CBCF5;
    color: #fff;
    border-radius: 5px;
}

img.img-content1 {
  margin: 0px 0px 0px 10px;
}

img.img-content2 {
  margin: 0px 10px 0px 0px;
}
.active {
	background-color: rgb(102, 204, 255);
}

ul.menu {
    font-size: 0px;
    list-style: none;
    margin: 15px;
    display: inline-block;
    box-shadow: 0px 0px 5px rgb(147, 147, 147);
    border-radius: 5px;
}

ul.menu img {
   width: 140px;
}

ul.menu li {
    vertical-align: top;
    text-align: center;
    width: 170px;
    font-size: 12px;
    float: left;
    margin: 10px;
}

ul.menu li:nth-child(3n) {
   margin: 10px 0px 10px 10px;
}   

ul.menu li:nth-child(1) {
   margin: 10px 10px 10px -12px;
}
  
ul.menu li:nth-child(4) {
    margin: 10px 10px 10px -12px;
}
  
ul.menu a {
    text-decoration: none !important;
}   

ul.menu a:link {
    text-decoration: none !important;
}
   
p.title-menu,
p.title-menu2 {
   font-weight: bold;
   font-size: 16px;
   margin: 25px 0px 0px 220px;
}

p.title-menu2 {
   margin: 25px 0px 0px 300px;
}

ul.button {
   text-align: center;
   list-style: outside none none;
}

ul.button li {
    display: inline-block;
    margin: 10px 30px;
    background: transparent linear-gradient(to top, rgb(70, 116, 207), rgb(85, 192, 246)) repeat scroll 0% 0%;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 0.3em 0.3em 5px rgb(132, 132, 132);
    border: 1px solid rgb(45, 117, 198);
}

ul.button a {
    color: white !important;
    font-size: 18px !important;
    text-decoration: none !important;
    text-shadow: 0px 0px 1px rgb(17, 80, 126) !important;
}

ul.button a:link {
    color: white !important;
    font-size: 18px !important;
    text-decoration: none !important;
    text-shadow: 0px 0px 1px rgb(17, 80, 126) !important;
}

ul.button li:hover {
    position: relative;
    top: 3px;
    box-shadow: 0.2em 0.2em 5px rgb(111, 111, 111);
    cursor: pointer;
}